*{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    
  
      background-color:saddlebrown;

}
h1{
    font-size: 50px;
    font-family: serif;
    color:aqua;
    font-weight: bold;
    
    
    
}
header{
border:brown;
border-style: groove;
background-color: orange;
}
header img{
width: 300px;
height: 200;
}
h2{
    background-color: burlywood;
    color:aqua;
    font-weight: bold;
    font-size: x-large;
    font-family: serif;
    

}
ul li a {
    display: inline-flex;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
    text-decoration:none;
    
    }
    fieldset{
        background-color:gold;
            font-family: sans-serif;
            font-weight: bold;
            color: black;
    }

main{
    border:brown;
    border-style: groove;
    background-color: burlywood;
    margin-top:  15px;
}
p{
    font-weight: bold;
    color: blue;
    font-size: 30px;
    font-family: serif;
}
main img{
width: 150px;
height: 150px;
margin-left: 10px;
margin-right: 20px;
}
ul li a {
    display: inline-flex;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
    text-decoration:none;
    color: blue;
    font-family: serif;
    }
    
footer{
    border:cadetblue;
    border-style: ridge;
    background-color: burlywood;
    margin-top:  15px;


    }
    
    footer ul li{
        display: inline-block;
    margin: 20px;
    }
  
    table{
        border: solid 1px grey;
        background-color: snow;
    
    }
    table tr th{
        border: solid 1px black;
        width:  60px;
     
        background-color:gold;
            font-family: sans-serif;
            font-weight: bold;
            color:black;
    }
    table tr td {
        border: solid 1px black;
        width:  60px;
     
        background-color:gold;
            font-family: sans-serif;
            font-weight: bold;
            color: black;
    }
   /* table tr td{
        border: solid 1px papayawhip;
        width:  60px;
        color: orange;
    }
    