
body {
    font-family: "Grandstander", cursive;
    text-decoration: none;
   background-image: url(../img/cookie.jpg);
   background-size:100%;
}


header {
    background-color: rgb(170, 125, 10);
    /*position: fixed;*/
    top: 0;
    width: 100%;
    /*padding: 20px;*/
    
}
table , th , td  {
    border: 1px solid brown;
    color: brown;
}

#im{
margin-bottom: 300px;
}


header h1 {
    color: brown;
    font-weight: bold;
 text-align: center;

}

header nav {
    float: right;
    padding: 0 30px;
}

header nav ul li {
    display: inline-block;
    padding: 0 30px;
}

header nav ul li a {
    text-decoration: none;
    color: brown;
   /* text-transform: uppercase;*/
    font-size: 15px;
    padding: 50px;
    font-weight: bold;
}

#para{
   
    color: brown;
    font-weight: bold;
  padding-top: -150px;
}
img{
    padding-top: 200px;
    font-display: center;
   width: 400;
}

footer {
    clear: both;
    width: 100%;
    background-color: rgb(170, 125, 10);
    padding: 15px;
    text-align: center;
    color: brown;
    font-weight: 600;
    padding-top: 150px;
    font-size: larger;
}

section button:hover {
    background-color:brown;
    color: burlywood;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 20px;
    text-align: center;
    margin: 20px;


}
